.btn{
    height: 8rem;
    width: 8rem;
    border: 4px solid black;
    border-radius: 1.5rem;
    margin: 1.2rem;
}
.orange{
    background-color: #FF7F3E;
}
.brown{
    background-color: burlywood;
}
.blue{
    background-color: #80C4E9;
}
.purple{
    background-color: #604CC3;
}
.line-one{
    display: flex;
    justify-content: center;
}
.line-two{
    display: flex;
    justify-content: center;
}
h1{
    text-align: center;
}
h2{
    text-align: center;
}
.flash{
    background-color: white;
}
